<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>TheAnnex</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.ry4nolson.theannex</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>The Annex</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSDesktopFolderUsageDescription</key>
	<string>The Annex needs access to your Desktop to sync files with your NAS.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>The Annex needs access to your Documents to sync files with your NAS.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>The Annex needs access to your Downloads to sync files with your NAS.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>The Annex needs access to network volumes to sync files with your NAS.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The Annex needs access to your Photo Library to sync Pictures with your NAS.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
</dict>
</plist>
